.container
{
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 1rem;
    width: auto;
    align-items: center;
}

.title
{
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    font-size: 3.5em;
}

.sideBySide
{
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.story
{
    font-size: 1.8em;
    margin: 1em 10em;
    text-align: center;
}