.link
{
    font-size: 1.8em;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: aquamarine;
    text-underline-offset: 3px;
    transition-property: text-decoration, font-weight;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.link:hover
{
    font-weight: 800;
    text-decoration-color: darkgreen;
}

.xsmall
{
    font-size: 1em;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: aquamarine;
    text-underline-offset: 2px;
    transition-property: text-decoration, font-weight;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.smlink
{
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: aquamarine;
    text-underline-offset: 2px;
    transition-property: text-decoration, font-weight;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.smlink:hover, .xsmall:hover
{
    font-weight: 800;
    text-decoration-color: darkgreen;
}

.blink
{
    display:inline-block;
    font-size: 3em;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: aquamarine;
    text-underline-offset: 4px;
    transition-property: text-decoration, font-size, transform;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.blink:hover
{
    font-size: 3.2em;
    text-decoration-color: darkgreen;
    transform: translate(5px, -10px);
}